html,
body,
*{

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  text-align: center;
}

.card {
  display: flexbox;
  flex-wrap: wrap;
  background: var(--light-orange);
  width: 20vw;
  height: 30vh;
  border-radius: 4rem;
  overflow:hidden;
  border: 0.3rem solid;
  margin: 1rem;
  padding: 5rem;
  border-color: var(--cream-white); 
}